/*
colors: 
    header: back-#5a447b little-elements-#776099
    header-links: rgb(233, 232, 232);
    header-name: rgb(235, 231, 24);

    cards: #212529;

*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans+Condensed:wght@300&display=swap');

body {
    width: 100vw;
    min-height: auto;  
    overflow-x: hidden;

    p {
        font-size: 18px;
    }
    

    #root {

        font-family: 'Fira Sans Condensed', sans-serif;

        a {
            color: white;
            &:hover {
                color: rgb(206, 206, 206);
            }
        }

        >div {
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            padding: 10px 0 0;

            min-height: 100vh;

            display: grid;
            row-gap: 10px;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: 80px auto 50px;
            grid-template-areas: "header" "main" "footer";

            transition: 1s;
        }
    }

    header, main, footer {
        width: 80vw;
        height: 100%;
        
        justify-self: center;
        align-self: center;

    }

    header {
        grid-area: header;
        width: 85vw;

        .active {
            border-bottom: 3px solid white;
        }
    }

    main {
        position: relative;

        grid-area: main;

        border: 3px solid white;
        box-shadow: 0 0 5px 1px rgb(141, 141, 141);
        color: rgb(233, 232, 232);
        border-radius: 20px;
        padding: 20px 0;
    }

    footer {
        grid-area: footer;
        
    }
}









