.allListingsSection {
    margin: 10px 0;
    display: grid;

    grid-template-rows: 100px auto;
    
    grid-template-areas:
        "title"
        "cardsDiv";
    h4 {
        grid-area: title;

        justify-self: center;
        align-self: center;
    }

    .cardsDiv {
        grid-area: cardsDiv;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
}
