.cardComponent {
    margin: 10px;
    width: 50%;
    color: #212529;

    .card-header {
        text-align: center;    
    }

    .card-body {
        display: flex;
        flex-direction: column;
        img {
            max-width: 400px;
            align-self: center;
        }
        button {
            margin: 5px 0;
        }
    }
}
