.homeComponentSection {
    display: grid;
    height: 100%;

    grid-template-rows: 200px repeat(2, 150px) 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        ". title ."
        ". form professionDiv"
        ". form professionDiv"
        "cardsDiv cardsDiv cardsDiv"
    ;
    h1 {
        grid-area: title;
        align-self: center;
        justify-self: center;
    }

    .form-div {
        grid-area: form;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-align: center;
        }

        form {
            align-self: center;
            justify-self: center;
            display: flex;
            align-items: flex-end;

            div {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    .profession-div {
        grid-area: professionDiv;

        align-self: center;
        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        .profession-image-div {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                height: 100%;
            }
        }
    }
    
   

    .cardsDivRow {
        grid-area: cardsDiv;
        border-top: 1px dotted white;

        padding: 10px;
        margin: 10px;

        h5 {
            grid-column: 1/4;
            text-align: center;
        }

        .cardsDiv {
            display: grid;
            grid-template-rows: 1fr auto;
            grid-template-columns: repeat(3, 1fr);
        }
        
    }
}

