.homeComponentSection {
    display: grid;
    height: 100%;

    grid-template-rows: 200px auto 100px auto;
    /* grid-template-columns: repeat(auto); */
    grid-template-areas: 
        "title title title"
        "professionDiv professionDiv professionDiv"
        "form form form"
        "cardsDiv cardsDiv cardsDiv"
    ;
    h1 {
        grid-area: title;
        align-self: center;
        justify-self: center;
    }

    .profession-div {
        grid-area: professionDiv;

        align-self: center;
        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        .profession-image-div {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                height: 100%;
            }
        }
    }
    
    form {
        grid-area: form;

        align-self: center;
        justify-self: center;
        display: flex;
        align-items: flex-end;

        div {
            display: inline-block;
            margin: 0 5px;
        }
    }

    .cardsDiv {
        grid-area: cardsDiv;

        border-top: 1px solid black;
        padding: 10px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}

