footer  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span {
    font-weight: bold;
    color: #323232;
}

footer span a {
    color: #4e4e4d;
    padding-left: 5px;
    padding-right: 5px;
}

footer span a img{
    margin-left: 5px;
    max-width: 25px;
}

footer span a:hover {
   color: #bbb
}