.myProfileComponentSection {
    margin: 10px 0;
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px repeat(2, auto);
    grid-template-areas: 
        "title title"  
        "userProfile allListings"  
        "userProfile allListings"
    ;
   

    >div:nth-child(1) {
        grid-area: title;
        align-self: center;
        justify-self: center;

        text-align: center;
    }

    .userProfile {
        grid-area: userProfile;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        border-right: 1px solid white;

        img {
            max-width: 200px;
        }
    }

    .allListings {
        grid-area: allListings;

        padding: 0 10px;
        >div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            h4 {
                align-self: center;
                font-weight: bold;
            }

            img[alt="Divider"] {
                max-width: 100px;
                align-self: center;
                margin-bottom: 10px;
            }

            >div {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                row-gap: 10px;
            }
        }

    }
    
   
}