.cardStyles {
    height: 100%;
    width: 18rem;
    justify-self: center;
    color: #212529;

    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .cardButton {
            margin-top: auto;
            align-self: flex-start;
        }
    }
}