.cardStyles {
    height: 100%;
    width: 18rem;
    justify-self: center;
    color: #212529;

    box-shadow: 2px 2px 15px rgb(41, 29, 29);
    
    img {
        max-height: 190px;
    }

    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h5 { 
            font-weight: bold;
            text-align: left;
        }

        >div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span {
                font-weight: bold;
            }
        }


    }
}