.headerCustomStyles {
    padding: 0 30px;
    border: 3px solid white;
    border-radius: 50px;
    box-shadow: 0 0 5px 1px rgb(141, 141, 141);

    display: flex;
    align-items: center;

    .navbarCustomStyles {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);

        >div {
            span {
                color: rgb(235, 231, 24);
                font-size: 30px;
            }

            a {
                margin: 0 70px; 
                font-size: 1.2rem;
                color: rgb(233, 232, 232);
                font-weight: bold;
                text-decoration: none;
                
                &:hover {
                    color: rgb(177, 177, 177);
                }

                &:first-child{
                    margin-left: 0;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        >div:nth-child(1) {
            justify-self: flex-start;

        }
        
        >div:nth-child(2) {
            justify-self: center;
        }

        >div:nth-child(3) {
            justify-self: flex-end;
        }
    }

}
