.editComponentSection {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
 
        }

    }
}
